<div class="mt-4">
     <h1 class="text-center">Sửa thông tin khóa học:
          <hr>
     </h1>
     <form method="POST" action="/courses/{{course._id}}?_method=PUT">
          <div class="form-group">
               <label for="name">
                    <h5>Tên khóa học:</h5>
               </label>
               <input type="text" class="form-control" id="name" name="name" value="{{course.name}}">
          </div>
          <div class="form-group">
               <label for="description">
                    <h5>Mô tả khóa học:</h5>
               </label>
               <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
          </div>
          <div class="form-group">
               <label for="videoID">
               <h5>Video ID:</h5>
               </label>
               <input type="text" class="form-control" id="videoID" name="videoID" value="{{course.videoID}}">
          </div>
          <div class="form-group">
               <label for="level">
                    <h5>Trình độ:</h5>
               </label>
               <input type="text" class="form-control" id="level" name="level" value="{{course.level}}">
          </div>

          <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
     </form>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>